.unilook-modal{
  box-shadow: 0px 4px 77px 32px rgba(5, 96, 147, 0.5);
  &.remodal{
    max-width: 1000px;
    width: 100%;
  }
  background-color: #FFABBF;
  background-image: url("../img/bg.png");
  padding: 30px 20px;
  text-align: left;
  font-family: 'Montserrat';
  &__conteiner{
    max-width: 815px;
    margin: 0 auto;
  }
  &__header{
    margin-bottom: 20px;
  }
  &__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
  }
  &__body{

  }
  &__anons{
    margin-bottom: 35px;
    p{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      margin: 0 0 15px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

  .remodal-close{
    top: 25px;
    left: auto;
    right: 25px;
    background-image: url("../img/remodal-close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 33px;
    height: 33px;
    &:before{
      display: none;
    }
  }
  .unilook-idea{
    margin-bottom: 23px;
  }
  @include r(767){
    margin-top: 167px;
    &__header{
      margin-bottom: 9px;
    }
    &__title{
      font-size: 16px;
      line-height: 20px;
    }
    &__anons{
      margin-bottom: 20px;
    }
    .unilook-sets__item{
      flex: 1 0 calc(33.33% - 10px);
      max-width: calc(33.33% - 10px);
    }
    .unilook-sets__name{
      display: block;
    }
    .remodal-close{
      top: -50px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 23px;
      height: 23px;
    }
    .unilook-idea{
      margin-bottom: 19px;
    }

    .swiper-button-prev,
    .swiper-button-next{
      top: -89px;
      width: 15px;
      height: 24px;
    }
  }
}