.unilook-content{
  margin-bottom: 172px;
  &__body{
    max-width: 892px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  &__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(1, 43, 81, 0.42);
    margin: 0 0 40px;
  }
  &__block{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url('../img/bg.png'), linear-gradient(180deg, #5564ED 0%, #005BA4 100%);
      box-shadow: -2px 2px 4px rgba(5, 96, 147, 0.5);
      transform: rotate(-2.53deg);
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -200px;
      right: -178px;
      background-image: url("../img/unilook-content-decor.png");
      background-size: 100%;
      width: 315px;
      height: 319px;
    }
  }
  &__content{
    padding: 50px 66px;
    background: url('../img/bg.png'), linear-gradient(180deg, #FFA800 0%, #FF5C00 47.92%, #B9059C 100%);
    box-shadow: -2px 2px 4px rgba(5, 96, 147, 0.5);
    position: relative;
    p{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin: 0 0 24px;
      &:last-of-type{
        margin: 0;
      }
    }
  }
  @include r(767){
    &__title{
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 24px;
    }
    &__body{
      padding: 0 4px;
    }
    &__block{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/bg.png'), linear-gradient(180deg, #5564ED 0%, #005BA4 100%);
        box-shadow: -2px 2px 4px rgba(5, 96, 147, 0.5);
        transform: rotate(-2.53deg);
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      &:after{
        bottom: -62px;
        right: -50px;
        width: 136px;
        height: 137px;
      }
    }
    &__content{
      padding: 24px 16px 29px;
      p{
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px;
        &:last-of-type{
          margin: 0;
        }
      }
    }
  }
}