.unilook-hero{
  position: relative;
  height: 710px;
  &:before{
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    background-image: url("../img/hero-decor-bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/hero-decor-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__body{
    max-width: 892px;
    height: 100%;
    margin: 0 auto;
    padding: 108px 20px 196px;
    position: relative;
  }
  &__logo{
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  @include r(1410){
    height: 393px;
  }
}