.unilook-sets{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  margin-top: 31px;
  &__item{
    flex: 1 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    text-decoration: none;
    display: block;
    &--btn{
      background-color: #ffffff;
      border-radius: 17px;
      height: 138px;
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      cursor: pointer;
      &:hover{
        outline: 2px solid #89C7FE;
      }
    }
  }
  &__figure{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 147px;
    border-radius: 17px;
    overflow: hidden;
    margin: 0;
    background-color: #ffffff;
    &:hover{
      outline: 2px solid #89C7FE;
    }
  }
  &__name{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 10px 0 0;
  }
  .embed-responsive{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &:before {
      display: block;
      content: "";
      padding-top: 56.25%;
    }
    .embed-responsive-item, embed, iframe, object,  video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  @include r(1023){
    &__item{
      &--btn{
        height: 120px;
      }
    }
  }
  @include r(767){
    gap: 10px;
    &__item{
      flex: 1 0 calc(25% - 10px);
      max-width: 25%;
      &--btn{
        height: auto;
        flex: 1 0 100%;
        max-width: 100%;
        padding: 16px;
        margin-top: 22px;
      }
    }
    &__name{
      display: none;
    }
  }
}